  <div id="container-overview">
          
        	<div class="overview-btn"><a href="#container-overview" onClick="hide_floorplan();"><span>OVERVIEW</span></a></div>
            <div class="overview-btn"><a href="#container-overview" onClick="show_floorplan();"><span>FLOORPLAN</span></a></div>
            <div class="go-back-btn">
                <%= link_to packages_path do %>
                   <span>< GO BACK</span>
                <% end %>
            </div>
            <div class="clear"></div>
            <div class="down-arrow" id="arrow"></div>
          <div id="not-floorplan">
            <div class="clear"></div>
            
            <div class="left-column">
            	<div class="left-column-title"><%= @object.title %></div>
                <div class="left-column-desc"><%= @object.description %></div>
            </div>
            
            <div class="central-column-homes">
            	<div class="central-column-title">Full Turnkey Also <br/> Available From: <%= number_to_currency(@object.full_tk_price, :locale => :au, :precision => 0) %></div>
                <div class="central-column-desc-title">Full Turnkey includes:</div>
                <div class="central-column-desc">
                	<ul style="padding-left: 14px">
                        <% for item in @object.full_tk_inclusions.split(",") %> 
                            <li><%= item %> </li>
                        <% end %> 
                    </ul>
                </div>
            </div>
            
            <div class="google2-maps">
              <%= gmaps("markers" => {"data" => @object.to_gmaps4rails}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 15}) %>

            </div>

          </div> <!-- non floorplan -->
               
          <div class="floorplan-container" id="floorplan-shit" style="display: none;" ><%= image_tag @object.floorplan.url,  :width=>"960" %></div>
</div> <!-- end container overview -->
<%= yield :scripts %>
<script type="text/javascript">

</script>

<script type="text/javascript">
 function show_floorplan(){
     document.getElementById("not-floorplan").style.display = 'none';
     document.getElementById("floorplan-shit").style.display = '';
     document.getElementById("arrow").style.marginLeft = '180px';
 }
 function hide_floorplan(){
     document.getElementById("not-floorplan").style.display = '';
     document.getElementById("floorplan-shit").style.display = 'none';
     document.getElementById("arrow").style.marginLeft = '20px';
 }
</script>