<%= form_for @album, :html => {:multipart => true} do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <% f.fields_for :assets do |asset| %>
    
    <% if asset.object.image_file_name.blank? %>
 	  	<div class="field">
	    	<%= asset.file_field :image %> 
	  	</div>
    <% end %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div>
<ul> 
<% for asset in @album.assets %> 
  
  <% if false  %>
   <li> <% asset.image_file_name %> <%= link_to "Delete",  album_asset_path(@album,asset) , :confirm => "Are you Sure?", :method => :delete %> </li>
  <% end %> 
<% end %> 
</ul>
</div>
