<!DOCTYPE html>
<html>
<head>
  <title>Eleganthomes</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% @object = @package || @home %> 
	<div id="top-nav-bg"></div>
	
  <div id="container">
	
	<%= render :file => "shared/_header"%>
	<div id="content">
		<%= yield %>
	</div>

	<div id="content-shadow"></div>
	<%= render :file => "shared/_#{@object.class.name.downcase}_detailed_footer"%>

  </div>

  <div class="clear"></div>
   <%= render :file => "shared/_bottom_footer" %>
</body>

</html>
